/* responsive css */

@media(max-width: 991px) {
    .info_form {
        grid-template-columns: 1fr;
    }
    .info_form .form_heading {
        grid-column: span 1;
    }
    body {
        height: 160vh;
        overflow-x:hidden;
    }
    .form {
        width: 90%;
    }
}
