/* ---GOOGLE FONTS---- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ---GLOBAL CSS--- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all .3s ease-in-out;
}

body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .4)), url('./body_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: #fff;
    overflow-x: hidden;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

.brand {
    padding: 5px 10px;
    background: #0abde3;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
}


/* ----reusable css class--- */

.container {
    width: 80%;
    margin: 0 auto;
}

.form {
    width: 50%;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    left: 300%;
    transform: translate(-50%);
    padding: 30px;
}

.form.active {
    left: 50%;
}


/* ---header area--- */

.header_area {
    padding: 50px 0;
    text-align: center;
}

.header_area .heading {
    text-transform: uppercase;
    font-size: 20px;
}

.header_area p {
    font-size: 15px;
    text-transform: capitalize;
}


/* ----info form--- */

.booking_container {
    position: relative;
}

.info_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    grid-gap: 20px;
}

.info_form .form_heading {
    grid-column: span 2;
    text-align: center;
}

.input_group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.input_group label {
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 5px;
}

.input_group label span {
    color: red;
}

.input_group input {
    width: 100%;
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
}

.info_submit_btn {
    background: #0abde3;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid #0abde3;
}

.ok:hover,
.btn_group button:hover,
.info_submit_btn:hover {
    color: #0abde3;
    background: transparent;
    border: 2px solid #0abde3;
}


/* ---confirm details--- */

.confirm_details {
    padding: 20px;
}

.confirm_details .form_heading {
    text-align: center;
    text-transform: capitalize;
    font-weight: 300;
}

.confirm_details .form_heading span {
    background: #0abde3;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    font-weight: 400;
}

table {
    width: 100%;
    padding: 10px;
}

table td {
    border-bottom: 1px solid #0abde3;
    padding: 10px;
}

.btn_group {
    margin-top: 20px;
}

.ok,
.confirm_payment,
.btn_group button {
    padding: 5px 15px;
    background: #0abde3;
    border: 2px solid #0abde3;
    color: #fff;
    margin-right: 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}


/* ---payment method-- */

#payment_method {
    width: auto;
    padding: 5px;
    border: none;
    outline: none;
    background: transparent;
    color: #0abde3;
}

#payment_method option {
    background: transparent;
}


/* ----OK FORM----- */

.ok_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.ok_form i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    width: 150px;
    height: 150px;
    border: 3px solid #0abde3;
    color: #0abde3;
    border-radius: 50%;
}

.ok_form h2,
.ok_form p,
.ok_form h3,
.ok_form h4 {
    text-transform: capitalize;
}